<div class="col-md-12 row">
  <ul class="nav nav-tabs col-md-8">
    <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  </ul>
  <ul class="pull-right col-md-4 link-order list-style">
    <li><i class="fa fa-history" aria-hidden="true"></i> History</li>
    <li><i class="fa fa-comments-o" aria-hidden="true"></i> Comments</li>
    <li>
      <select>
        <option value="0">Action</option>
        <option value="1">Comments</option>
        <option value="2">Delete</option>
      </select>
    </li>
  </ul>
</div>
