<div class="navbar-wrapper">
  <nav class="d-md-block sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" (click)="collapseMenu(isCollapsed)">
            <span class="menu-icon">
              <i class="fa fa-bars" area-hidden="true"></i>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <span class="menu-icon">
              <i class="fa fa-cube" area-hidden="true"></i>
            </span>
            <span class="menu-title">Link 1 </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <span class="menu-icon">
              <i class="fa fa-certificate" area-hidden="true"></i>
            </span>
            <span class="menu-title">Link 2 </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <span class="menu-icon">
              <i class="fa fa-dashboard" area-hidden="true"></i>
            </span>
            <span class="menu-title">Link 3 </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <span class="menu-icon">
              <i class="fa fa-fax" area-hidden="true"></i>
            </span>
            <span class="menu-title">Link 4 </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
